@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap');

:root {
    --color-body: #deeef1;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #b80404;
    --color-brand2: #FD2D00;
    --sidbar-width: 260px;
    --font-base: "Roboto Slab";
}

body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-heading);
    font-weight: 900;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}

.bg-base {
    background-color: var(--color-base);
}

.text-brand-1 {
    color: var(--color-brand)
}

/* Second title */
.text-brand-2 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(50, end), blink-caret .75s step-end infinite;
  }

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: red }
  }

.text-brand-2 span {
    display: inline-block;
    animation: typing 1s steps(50, end), blink-dash .75s step-end infinite;
    animation-delay: 50ms;
    margin-bottom: -2px;
  }
  
@keyframes blink-dash {
    from, to { border-color: transparent }
    50% { border-color: red }
  }
/* Second title - end */

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255, 1, 1, 0.5);
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 var(--color-brand);
}

.iconbox {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-brand2);
    color: var(--color-base);
}

/* NAVBAR */
.navbar {
    background-color: var(--color-base);
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    transition: 0.5s all ease 0s;
}

.navbar .nav-link.active {
    color: var(--color-brand2);
}

.navbar .nav-link:hover{
    color: var(--color-brand2);
    font-size: 25px;
    transition: 0.5s all ease 0s;
}

@media (min-width: 992px) {
    body {
        background-color: rgba(0, 218, 222, 0.7);
        background: linear-gradient(135deg, rgba(0, 218, 222, 0.7) 0%, rgba(251, 0, 255, 0.7) 100%), url(../images/body_image.png);
        background-size: auto;
        background-position: center;
    }
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgba(58, 75, 224, 0.7), rgba(42, 163, 5, 0.777)), url(../images/sidebar_image.jpg);
        background-size: auto;
        background-position: center;
    }

    .navbar-brand img {
        border: 8px solid var(--color-brand);
    }

    /* CONTENT-WRAPPER */
    
    #content-wrapper {
        padding-left: var(--sidbar-width);
    }

    .hd-title{
        font-size: 82px;
        text-transform: uppercase;
        background: linear-gradient(90deg, rgb(191, 2, 2) 0%, rgb(120, 3, 198) 80%, rgb(120, 3, 198) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

/* BTN */
.btn-hover {
    display: block;
    width: 200px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    padding: 9px 0;
    height: 40px;
    text-align: center;
    border: none;
    background-size: 400% 100%;
    border-radius: 15px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover{
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color1 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.btn-hover.color2 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.btn-hover.color3 {
    background-image: linear-gradient(to right, #25aae1, #1c0380, #04befe, #043277);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

/* LINK-CUSTOM */
.link-custom {
    font-weight: 700;
    color: #08efff;
    position: relative;
    font-size: large;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}

/* CARD */

.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
}

/* SOCIAL ICONS */
.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 100px;
    font-size: 24px;
}

.social-icons a:hover {
    background: transparent;
    width: 50px;
    height: 50px;
    font-size: 50px;
}
