@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap');

:root {
    --color-body: #deeef1;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #b80404;
    --color-brand2: #FD2D00;
    --sidbar-width: 260px;
    --font-base: "Roboto Slab";
}

body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-heading);
    font-weight: 900;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}

.bg-base {
    background-color: var(--color-base);
}

.text-brand-1 {
    color: var(--color-brand)
}

.text-brand-2::before {
    content: '';
    color: var(--color-brand);
    animation: animate 8s linear infinite;
}
@keyframes animate {
    0% {
        content: 'DATA ANALYST';
    }
    30% {
        content: 'AI LEARNER';
    }
    50% {
        content: 'AI PRACTITIONER';
    }
    75% {
        content: 'AI RESEARCHER';
    }
    100% {
        content: 'AI DEVELOPER';
    }
}

.hd-title{
    font-size: 82px;
    text-transform: uppercase;
    background: linear-gradient(90deg, rgb(120, 3, 198) 0%, rgba(253,29,29,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255, 1, 1, 0.5);
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 var(--color-brand);
}

/* NAVBAR */
.navbar {
    background-color: var(--color-base);
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    transition: 0.5s all ease 0s;
}

.navbar .nav-link.active {
    color: var(--color-brand2);
}

.navbar .nav-link:hover{
    color: var(--color-brand2);
    font-size: 25px;
    transition: 0.5s all ease 0s;
}

#nav_drop:hover>.dropdown-menu {
    display: contents;
}

.dropdown-item:hover {
    background-color: transparent;
}
  
#nav_drop>.dropdown-toggle:active {
/*Without this, clicking will make it sticky*/
    pointer-events: none;
}

@media (min-width: 990px) {
    body {
        background-color: rgba(0, 218, 222, 0.7);
        background: linear-gradient(135deg, rgba(0, 218, 222, 0.7) 0%, rgba(251, 0, 255, 0.7) 100%), url(../images/body_image.png);
        background-size: auto;
        background-position: center;
    }
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgba(58, 75, 224, 0.7), rgba(163, 4, 226, 0.7)), url(../images/sidebar_image.jpg);
        background-size: auto;
        background-position: center;
    }

    .navbar-brand img {
        border: 8px solid var(--color-brand);
    }

    /* CONTENT-WRAPPER */
    
    #content-wrapper {
        padding-left: var(--sidbar-width);
    }
}

/* BTN */
.btn {
    flex: 1 1 auto;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 28px;
    font-weight: 700;
    background-size: 300%;
    box-shadow: 0 0 10px #eee;
    border-radius: 10px;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 50%, #f6d365 100%);
}

.btn-brand:hover{
    background-position: 200% 0;
    color: var(--color-base);
    transition: 1s;
}

/* LINK-CUSTOM */
.link-custom {
    font-weight: 700;
    color: #08efff;
    position: relative;
    font-size: larger;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}

/* CARD */

.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
}

/* SOCIAL ICONS */
.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 100px;
    font-size: 24px;
}

.social-icons a:hover {
    background: transparent;
    width: 50px;
    height: 50px;
    font-size: 50px;
}
